.navbar{
    height: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 8px 8px 5px rgba(211,211,211,0.96); 
    box-shadow: 0px 8px 8px 5px rgba(211,211,211,0.96);
  }

.logo{
    font-weight: 600;
    color: black;
     font-size: 18px;
     padding-left: 25px;
}

.navbar > .other > a{
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    color: black;
}

 .profile {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ff5722;
  color: white;
  font-size: 16px;
  text-align: center;
  margin:0px 15px;
  padding: 6px;
  cursor: pointer;
  font-weight: 800;
  position: relative;
  display: inline-block;
}

.hover-profile{
  display: none;
}

.profile:hover + .hover-profile{
  display: inline-block;
  width: max-content;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 4px 8px;
  position: absolute;
  top: 40px;
  right: -20px;
  font-size: 14px;
}

