.main-body{
    position: fixed;
    top: 11vh;
    height: 89vh;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:lightgray;
    overflow-y: auto;
    width: 100%;
}

.notes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    background-color: lightgray ;
    margin: 0px auto;
}

.notehead{
    margin: 8px;
   }

   .inputnote{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
     height: max-content;
     resize: none;
    
}

.btnaddnote{
    width: max-content;
    margin: 10px 10px 15px 10px;
    padding: 5px;
    border-radius: 7px;
    background-color: lightblue;
    cursor: pointer;
    box-shadow: -9px 9px 12px 1px rgba(150,139,139,0.74);
    -webkit-box-shadow: -9px 9px 12px 1px rgba(150,139,139,0.74);
    -moz-box-shadow: -9px 9px 12px 1px rgba(150,139,139,0.74);
}


.allnotes{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    
}

.box{
    background-color: white;
    width: 29%;
    min-height: 160px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    padding: 12px;
    font-weight: 500;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 3px 25px -6px rgba(122,99,99,0.74);
    -webkit-box-shadow: 2px 3px 25px -6px rgba(122,99,99,0.74);
    -moz-box-shadow: 2px 3px 25px -6px rgba(122,99,99,0.74);
}
.titledate{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title{
    
    display: inline-block;
}
.notedate{
    display: inline-block;
}

.content{
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
  }
  


.btndiv{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.btneditnote{
  border-radius: 5px;
  text-align: center;
  margin: 0px 5px; 
  cursor: pointer;
}

.btndeletenote{
     border-radius: 5px;
     text-align: center;
     margin: 0px 5px; 
     cursor: pointer;
}

.delete-icon{
    font-size: 24px;
}

.edit-icon{
    font-size: 24px;   
}

.hover-edit{
    display: none;
}

.hover-delete{
    display: none;
}

.btndeletenote:hover + .hover-delete{
    display: inline-block;
    width: max-content;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    top: 25px;
    right: 0px;
    font-size: 12px;
    
  }

  .btneditnote:hover + .hover-edit{
    display: inline-block;
    width: max-content;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 0px 8px;
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 14px;
  }

